@import '../../../styles/vars';
@import '../../../styles/base';

.projects{
  width: $component-width;
  margin: 0 auto;
  //text-align: center;
  margin-left: $component-margin-left;
  img {
    width:180px; 
  }
  .projects p {
    letter-spacing: 0.12vw;
    font-size: 1.0vw; 
    text-transform: uppercase;
    margin-right: 2vw;
    font-size: $p-font;
    line-height: 25px;
  }
  .projects h1 {
    color: $primary-color;
    font-size: 1.5vw;
    letter-spacing:0.3vw;
    
  }
  .musicPic, .bloomio, .playAndRest {
    height: 20%;
  }
}
