@import '../../../styles/vars';
@import '../../../styles/base';


.nav {
  padding-bottom: 70px;
  padding-top: 30px;  
}

.nav a:hover {
  text-decoration: underline;
  color: $primary-color;
}

.nav li{
  display:inline-block;
}