@import '../../../styles/vars';
@import '../../../styles/base';


.nav {
  padding-bottom: 70px;
  padding-top: 30px;
 
  
}

.nav a:hover {
  text-decoration: underline;
  color: rgb(163, 12, 122);
}
.nav li{
  display:inline-block;
}