@import '../../../styles/vars';
@import '../../../styles/base';

.footer {
  width: 100%;
  background-color: $header-footer-color;
  text-align: center;
  margin-top: 50px;

  h2 {
    font-size: 16px;
  }
  a {
    vertical-align:middle;
    text-align:center;
    width:50px;
    padding: 0.7em;
  }
  .svg-container {
    width:100%;
  
  }
  .github-logo {
    width:50px;
    height:50px;
    
  }
  .linkedin-logo {
    width:50px;
    height:50px;
    
  }
}