@import '../../../styles/vars';
@import '../../../styles/base';

.background {
  color: rgb(85, 84, 84);
  margin-left: 30px;
  margin-left: $margin-left; 
}

h1 {
  color: rgb(163, 12, 122);
  font-size: 1.5vw;
  letter-spacing:0.3vw;
  
}
li {
  margin-bottom: 10px;
  line-height: 15px;
}

.block {
  display: block;
}

strong {
  font-weight: bold;
  font-size: 1.0vw; 
}

p, li {
  letter-spacing:0.2vw;
  font-size: 1.0vw; 
}

.background{
  letter-spacing:0.2vw;
}