@import '../../../styles/vars';
@import '../../../styles/base';

.background {
  width:$component-width;
  color: $font-color;
  margin-left: $component-margin-left; 
  

  h1 {
    color: $primary-color;
    font-size: 1.5vw;
    letter-spacing:0.3vw;
    
  }
  li {
    margin-bottom: 10px;
    line-height: 15px;
  }
  
  .block {
    display: block;
  }
  
  strong {
    font-weight: bold;
    font-size: 1.0vw; 
  }
  
  p, li {
    letter-spacing:0.2vw;
    font-size: 1.0vw; 
  }
  
  .background{
    letter-spacing:0.2vw;
  }
}

